* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Stylish", serif;
  font-size: 15px;
  background-image: url(../assets/img/fondo-motos.png.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
}

/*INDEX*/
header nav div {
  padding: 15px;
}

.mainIndex {
  background-image: url(../assets/img/modern-dark-texture-background-vector.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 25px;
}
.mainIndex .main-back {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/img/yamaha_mt03_2020_01.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.mainIndex .main-back h1 {
  font-size: 80px;
  color: #EE242B;
}
.mainIndex .main-back h2 {
  color: black;
}

.navbar {
  width: 100%;
}

.navbar-collapse {
  justify-content: end;
}

.nav-link {
  font-size: 20px;
  color: white;
}

.navbar-brand img {
  width: 300px;
  height: 80px;
}

/*MOTOS*/
.logos ul {
  list-style: none;
  display: flex;
  gap: 1.25rem;
  padding: 30px;
  justify-content: center;
}
.logos ul li img {
  width: 100%;
  height: 6.25rem;
}

.motos article {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  column-gap: 30px;
  row-gap: 3.125rem;
  padding: 80px;
  text-align: center;
}
.motos article img {
  width: 100%;
  height: 100%;
}
.motos .card {
  box-shadow: 15px 15px;
  border: none;
}

.card-body {
  background-color: black;
  color: white;
}

.btn {
  background-color: gray;
  color: black;
}

/*ACCESORIOS*/
main {
  padding: 25px;
}
main .accesorios {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  text-align: center;
  padding: 30px;
  font-size: 20px;
}
main .accesorios img {
  width: 250px;
  height: 250px;
}
main .accesorios-2 article {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  column-gap: 30px;
  row-gap: 3.125rem;
  padding: 80px;
  text-align: center;
}
main .accesorios-2 article img {
  width: 100%;
  height: 100%;
}
main .accesorios-2 .card {
  box-shadow: 15px 15px;
  border: none;
}

/*CONTACTOS*/
.contactos {
  padding: 25px;
}
.contactos section {
  padding: 50px;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  padding: 20px;
  text-align: center;
}
.contactos .mapas {
  justify-content: space-around;
  background-color: gray;
}

.form-contact {
  list-style: none;
}
.form-contact input {
  width: 100%;
}

/*FINANCIACION*/
.financiacion section {
  padding: 25px;
}
.financiacion section form fieldset li {
  list-style: none;
}
.financiacion section form fieldset input {
  width: 75%;
}
.financiacion .imagenfinanciacion img {
  width: 100%;
  height: 300px;
}
.financiacion .ahorro {
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
  background-color: gray;
}

/*FOOTER*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  color: white;
  background-color: black;
  width: 100%;
  font-size: 15px;
}
footer div ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-left: 0px;
}
footer div h3 {
  font-size: 20px;
}

@media (max-width: 1024px) {
  .main-back {
    width: 100%;
    height: 800px;
  }
  /*motos*/
  .logos ul li img {
    width: 220px;
    height: 150px;
  }
  .motos article {
    width: 100%;
    height: 100%;
    column-gap: 30px;
    row-gap: 50px;
  }
  .motos div img {
    width: 100%;
    height: 100%;
  }
  /*accesorios*/
  .accesorios li img {
    width: 220px;
    height: 220px;
  }
  .accesorios-2 {
    width: 100%;
    height: 100%;
    column-gap: 30px;
    row-gap: 3.125rem;
  }
  .accesorios-2 div img {
    width: 100%;
    height: 100%;
  }
  /*contacto*/
  .mapas {
    display: flex;
    flex-direction: column;
  }
  /*financiacion*/
  .ahorro {
    flex-direction: column;
    text-align: center;
  }
  .ahorro article img {
    width: 600px;
    height: 300px;
  }
  .ahorro article iframe {
    width: 900px;
    height: 450px;
  }
}
@media (max-width: 768px) {
  /*responsive index*/
  .main-back {
    width: 100%;
    height: 500px;
  }
  .main-back h1 {
    display: none;
  }
  .main-back h2 {
    display: none;
  }
  /* responsive motos*/
  .logos ul {
    display: none;
  }
  .motos article {
    grid-template-columns: repeat(2, 1fr);
  }
  .motos article div img {
    width: 100%;
    height: 100%;
  }
  header {
    flex-direction: column;
  }
  .logos ul li img {
    width: 170px;
    height: 100px;
  }
  /*responsive accesorios*/
  main .accesorios li img {
    width: 150px;
    height: 150px;
  }
  main .accesorios-2 article {
    grid-template-columns: repeat(2, 1fr);
  }
  main .accesorios-2 article div img {
    width: 100%;
    height: 100%;
  }
  /*financiacion*/
  .ahorro article img {
    width: 600px;
    height: 200px;
  }
  .ahorro article iframe {
    width: 600px;
    height: 300px;
  }
  /*footer*/
  footer {
    font-size: 12px;
  }
}
@media (max-width: 430px) {
  /*barra*/
  .navbar-brand img {
    width: 180px;
    height: 100px;
  }
  .container-fluid {
    flex-direction: row-reverse;
    padding: 10px;
  }
  /*index*/
  .mainIndex {
    font-size: 20px;
  }
  .mainIndex .main-back {
    width: 100%;
    height: 400px;
  }
  /*motos*/
  .menu-nav {
    flex-direction: column;
    gap: 0.625rem;
    text-align: center;
  }
  .logos ul {
    display: none;
  }
  .motos article {
    grid-template-columns: 1fr;
    padding: 50px;
  }
  .motos article div img {
    width: 100%;
    height: 100%;
  }
  main {
    text-align: center;
  }
  /*accesorios*/
  main .accesorios {
    flex-direction: column;
  }
  main .accesorios li img {
    width: 200px;
    height: 200px;
  }
  main .accesorios-2 article {
    grid-template-columns: 1fr;
    padding: 50px;
  }
  main .accesorios-2 article div img {
    width: 100%;
    height: 100%;
  }
  /*financiacion*/
  .financiacion .imagenfinanciacion {
    display: none;
  }
  .financiacion section form ul {
    list-style: none;
    text-align: start;
  }
  .financiacion .ahorro article img {
    width: 220px;
    height: 150px;
  }
  .financiacion .ahorro article iframe {
    width: 320px;
    height: 250px;
  }
  /*contacto*/
  .contactos section {
    margin: 0;
    padding: 10px;
    flex-direction: column;
    font-size: 15px;
    text-align: start;
    align-items: center;
  }
  .contactos .mapas {
    align-items: center;
  }
  .contactos .mapas iframe {
    width: 320px;
    height: 250px;
  }
  /*footer*/
  footer {
    flex-direction: column-reverse;
  }
  footer div h3 {
    font-size: 15px;
  }
}
@media (max-width: 380px) {
  /*barra*/
  .navbar-brand img {
    width: 160px;
    height: 80px;
  }
  .container-fluid {
    padding: 10px;
  }
  /*index*/
  .mainIndex {
    font-size: 15px;
  }
  .mainIndex .main-back {
    width: 100%;
    height: 200px;
  }
  .mainIndex .main-back h1 {
    display: none;
  }
  .mainIndex .main-back div {
    display: none;
  }
  .main-back {
    width: 100%;
    height: 300px;
  }
  .main-back h1 {
    display: none;
  }
  .main-back div {
    display: none;
  }
  /*motos*/
  .menu-nav {
    flex-direction: column;
    gap: 0.625rem;
    text-align: center;
  }
  .logos ul {
    display: none;
  }
  .motos article {
    grid-template-columns: 1fr;
    padding: 40px;
  }
  .motos article div img {
    width: 100%;
    height: 100%;
  }
  main {
    text-align: center;
  }
  /*accesorios*/
  main .accesorios {
    flex-direction: column;
  }
  main .accesorios li img {
    width: 200px;
    height: 200px;
  }
  main .accesorios-2 article {
    grid-template-columns: 1fr;
    padding: 40px;
  }
  main .accesorios-2 article div img {
    width: 100%;
    height: 100%;
  }
  /*financiacion*/
  .financiacion .imagenfinanciacion {
    display: none;
  }
  .financiacion section form ul {
    list-style: none;
    text-align: start;
  }
  .financiacion .ahorro article img {
    width: 220px;
    height: 150px;
  }
  .financiacion .ahorro article iframe {
    width: 270px;
    height: 200px;
  }
  /*contacto*/
  .contactos section {
    margin: 0;
    padding: 10px;
    flex-direction: column;
    font-size: 15px;
    text-align: start;
    align-items: center;
  }
  .contactos .mapas {
    align-items: center;
  }
  .contactos .mapas iframe {
    width: 290px;
    height: 290px;
  }
  /*footer*/
  footer {
    flex-direction: column-reverse;
  }
  footer div h3 {
    font-size: 15px;
  }
}
@media (max-width: 320px) {
  /*barra*/
  .container-fluid {
    padding: 10px;
  }
  /*index*/
  .mainIndex {
    font-size: 12px;
  }
  .mainIndex .main-back {
    width: 100%;
    height: 300px;
  }
  .mainIndex .main-back h1 {
    display: none;
  }
  .mainIndex .main-back div {
    display: none;
  }
  .main-back {
    width: 100%;
    height: 300px;
  }
  .main-back h1 {
    display: none;
  }
  .main-back div {
    display: none;
  }
  /*motos*/
  .menu-nav {
    flex-direction: column;
    gap: 0.625rem;
    text-align: center;
  }
  .logos ul {
    display: none;
  }
  .motos article {
    grid-template-columns: 1fr;
    padding: 20px;
  }
  .motos article div img {
    width: 100%;
    height: 100%;
  }
  main {
    text-align: center;
  }
  /*accesorios*/
  main .accesorios {
    flex-direction: column;
  }
  main .accesorios li img {
    width: 200px;
    height: 200px;
  }
  main .accesorios-2 article {
    grid-template-columns: 1fr;
    padding: 20px;
  }
  main .accesorios-2 article div img {
    width: 100%;
    height: 100%;
  }
  /*financiacion*/
  .financiacion .imagenfinanciacion {
    display: none;
  }
  .financiacion section form ul {
    list-style: none;
    text-align: start;
  }
  .financiacion .ahorro article img {
    width: 220px;
    height: 150px;
  }
  .financiacion .ahorro article iframe {
    width: 220px;
    height: 200px;
  }
  /*contacto*/
  .contactos section {
    margin: 0;
    padding: 10px;
    flex-direction: column;
    font-size: 15px;
    text-align: start;
    align-items: center;
  }
  .contactos .mapas {
    align-items: center;
  }
  .contactos .mapas iframe {
    width: 250px;
    height: 250px;
  }
  /*footer*/
  footer {
    flex-direction: column-reverse;
  }
  footer div h3 {
    font-size: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
