@media (max-width:320px){
    /*barra*/
    
    /*index*/
    .main-back{
        width: 100%;
        height: 300px;
        h1{
            font-size: 30px;
        }
        div{
            font-size: 10px;
            color: red;
            text-align: start;
            border: 16px;
        }
    }
    /*motos*/
    .menu-nav{
        flex-direction: column;
        gap: .625rem;
        text-align: center;
    }
    .logos{
        ul{
        flex-direction: column;
            li{
                img{
                    width: 250px;
                    height: 100px;
                }
            }
        }
    }
    .motos article{
        grid-template-columns: 1fr;
        padding: 20px;
        div{
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    main{
        text-align: center;
    }
    /*accesorios*/
    .accesorios{
        flex-direction: column;
        li{
            img{
                width: 250px;
                height: 250px;
            }
        }
    }
    .accesorios-2{
        grid-template-columns: 1fr;
        padding: 20px;
        div{
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    /*financiacion*/
    .financiacion{
        .imagenfinanciacion{
            display: none;
        }
        section{
            form{
                ul{
                    list-style: none;
                    text-align: start;
                }
            }
        }
        .ahorro{
            article{
                img{
                    width: 250px;
                    height: 150px;
                }
                iframe{
                    width: 250px;
                    height: 200px;
                }
            }
        }
    }
    /*contacto*/
    .contactos{
        section{
            margin: 0;
            padding: 10px;
            flex-direction: column;
            font-size: 15px;
            text-align: start;
            align-items: center;
        }
        .mapas{
                align-items: center;
                iframe{
                    width: 280px;
                    height: 280px;
            }
        }
    }
    /*footer*/
    footer{
        flex-direction: column-reverse;
        div{
            h3{
                font-size: 15px;
            }
        }
    }
}