/*FOOTER*/
footer{
    @include flexfooter;
    color: $color3;
    background-color: $background-color2;
    width: 100%;
    font-size: 15px;
    div{
        ul{
            list-style: none;
            display: flex;
            gap: 20px;
            margin-left: 0px;
        }
        h3{
            font-size: 20px;
        }
    }
}
