/*CONTACTOS*/
.contactos{
    padding: 25px;
    section{
        padding: 50px;
        @include flexcontactos;  
    }
    .mapas{
        justify-content: space-around;
        background-color: gray;
    }
}
.form-contact{
    list-style: none;
    input{
        width: 100%;
    }
}
